body{
    font-family: Arial,sans-serif;
    background-color: rgb(100, 100, 246);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.atm-container{
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    text-align: center;
    border: 2px solid #ddd;
}
.balance-display p {
    font-size: 1.2rem;
    color: #4caf50;
    margin: 10px 0;
  }
 
h1{

    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 15px;
}

p{
    margin-bottom: 20px;
    font-size: 16px;
    color: #666666;
}

.form-group{
    margin-bottom: 15px;
    text-align: left;
}

input[type="password"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button{
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
  }

.message{
    margin-top: 20px;
    font-size: 16px;
    color:#007bff;
}